<div class="product">
  <div class="product-carousel">
    <nz-carousel nzAutoPlay [nzEnableSwipe]="true">
      <div class="carousel-content" nz-carousel-content *ngFor="let item of arrayCarousel">
        <img [src]="item.urlPicture" alt="">
      </div>
    </nz-carousel>
  </div>
  <div class="product-filter" (click)="moveToFilter()">
    <div class="product-filter-list">
      <div class="product-filter-list-item">
        <nz-badge [nzCount]="filterCount" [nzStyle]="{ backgroundColor: '#52c41a' }">
          <button nz-button nzType="primary" [nzLoading]="isLoadingFilter">
            <span nz-icon nzType="filter" nzTheme="outline"></span>
            Bộ lọc
          </button>
        </nz-badge>
      </div>
      <!-- category -->
      <div class="product-filter-list-item" *ngIf="currentType === 'all'">
        <ng-container 
          *ngTemplateOutlet="filterItem; context: {
            list: categoryFilter,
            length: filterObj.category.length,
            title: 'Danh mục',
            type: 'category'
          }"
        ></ng-container>
      </div>

      <!-- Price -->
      <div class="product-filter-list-item">
        <button nz-button
          [nzType]="isChangePrice ? 'primary' : 'default'"
          nz-popover nzPopoverTrigger="click" 
          [nzPopoverContent]="properPrice"
          nzPopoverPlacement="bottom"
        >
          Từ {{filterObj.price[0].toString()}}đ - {{filterObj.price[1].toString()}}đ
          <span nz-icon nzType="caret-down" nzTheme="outline"></span>
        </button>
        <ng-template #properPrice>
          <div id="proper-price">
            <nz-steps [nzCurrent]="2" nzProgressDot>
              <nz-step [nzTitle]="arrPrice[0].toString()"></nz-step>
              <nz-step [nzTitle]="arrPrice[1].toString()"></nz-step>
            </nz-steps>
            <nz-slider nzRange 
              [nzStep]="1000000"
              [nzMin]="arrPrice[0]" [nzMax]="arrPrice[1]"
              [(ngModel)]="filterObj.price" 
              (nzOnAfterChange)="onChangePrice($event)"
            >
            </nz-slider>
          </div>
          <ng-container *ngIf="isChangePrice">
            <nz-divider></nz-divider>
            <div class="filters-buttons">
            <button nz-button nzType="default" nzDanger (click)="clearPrice()">Bỏ chọn</button>
            <button nz-button nzType="primary" (click)="showFilter()">Xem {{tempTotalItems}} kết quả</button>
          </div>
          </ng-container>
          </ng-template>
      </div>
      <!-- rom -->
      <div class="product-filter-list-item" *ngIf="currentType !== 'watch' && currentType !== 'airpod'">
        <ng-container 
          *ngTemplateOutlet="filterItem; context: {
            list: romList,
            length: filterObj.rom.length,
            title: 'Dung lượng lưu trữ',
            type: 'rom'
          }"
        ></ng-container>
      </div>
      <!-- size -->
      <div class="product-filter-list-item" *ngIf="currentType === 'watch'">
        <ng-container 
          *ngTemplateOutlet="filterItem; context: {
            list: sizeList,
            length: filterObj.size.length,
            title: 'Kích thước',
            type: 'size'
          }"
        ></ng-container>
      </div>
      <!-- ram -->
      <div class="product-filter-list-item" *ngIf="currentType !== 'watch' && currentType !== 'airpod'">
        <ng-container 
          *ngTemplateOutlet="filterItem; context: {
            list: ramList,
            length: filterObj.ram.length,
            title: 'Bộ nhớ trong',
            type: 'ram'
          }"
        ></ng-container>
      </div>
      <div class="product-filter-list-item">
        <ng-container 
          *ngTemplateOutlet="filterItem; context: {
            list: colorList,
            length: filterObj.colors.length,
            title: 'Màu sắc',
            type: 'color'
          }"
        ></ng-container>
      </div>
    </div>
    <div class="product-filter-sort">
      <nz-select nzPlaceHolder="Sắp xếp" 
        [(ngModel)]="currentSort"
        (ngModelChange)="sortChange($event)"
        [nzOptions]="sortList"
      >
      </nz-select>
    </div>
  </div>
  <div class="product-list">
    <app-section 
      [products]="currentList" 
      buttonTitle="products"
      [isCatalog]="true"
    >
    </app-section>
    <nz-pagination 
      *ngIf="totalItems > 8"
      [nzPageIndex]="currentPage" 
      [nzTotal]="totalItems" 
      [nzPageSize]="currentSize"
      (nzPageIndexChange)="changePaginate($event)"
      (nzPageSizeChange)="changeSize($event)"
      nzShowSizeChanger
      [nzPageSizeOptions]="[4, 8, 12, 16]"
      [nzShowTotal]="rangeTemplate"
      [nzResponsive]="true"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} of {{ total }} items
    </ng-template>
  </div>
</div>

<ng-template #filterItem 
  let-list="list" let-length="length" let-title="title" let-type="type"
>
  <button 
    nz-button [nzType]="length > 1 ? 'primary' : 'default'" 
    nz-popover nzPopoverTrigger="click"
    [nzPopoverContent]="proper" nzPopoverPlacement="bottom">
    {{title | translate}}
    <span nz-icon nzType="caret-down" nzTheme="outline"></span>
  </button>
  <ng-template #proper>
    <div class="product-filter-list-item-proper">
      <button 
        *ngFor="let item of list"
        nz-button
        [nzType]="isChooseItemFilter(item, type) >= 0 ? 'primary' : 'default'"
        (click)="chooseItemFilter(item, type)"
      >
        {{item}}</button>
    </div>
    <ng-container *ngIf="switchFilter(type).length > 1">
      <ng-container
      *ngTemplateOutlet="buttons; context: {type: type}">
    </ng-container>
    </ng-container>
  </ng-template>
</ng-template>

<ng-template #buttons let-type="type">
  <nz-divider></nz-divider>
  <div class="filters-buttons">
    <button nz-button nzType="default" nzDanger (click)="clearFilterItem(type)">Bỏ chọn</button>
    <button 
      nz-button nzType="primary" 
      [nzLoading]="isLoadingFilter"
      (click)="showFilter()"
    >Xem {{tempTotalItems}} kết quả</button>
  </div>
</ng-template>

