@import '../../../assets/scss/index';

.product {
  &-carousel {
    max-width: 1200px;
    
    [nz-carousel-content] {
      text-align: center;
      background: $color-white;
      color: $color-white;
      overflow: hidden;
      height: 118px;
  
    }
  
    ::ng-deep nz-carousel {
      ul li.slick-active {
        button {
          background: $color-primary;
        }
      }
    }
  
    ::ng-deep nz-carousel {
      ul li {
        button {
          background: $color-primary;
        }
      }
    }
  }
}