@import '../../../assets/scss/index';

.product {
  max-width: 1200px;
  margin: 0 auto;

  &-carousel {

    nz-carousel {
      height: 26vw;
      line-height: 26vw;

      @include mobile {
        height: 36vw;
        line-height: 36vw;
      }
    }
  
    ::ng-deep nz-carousel {
      ul li.slick-active {
        button {
          background: $color-primary;
        }
      }
    }
  
    ::ng-deep nz-carousel {
      ul li {
        button {
          background: $color-primary;
        }
      }
    }
  }

  &-filter {
    margin: 2rem 0;

    @include tablet {
      margin: 2rem 1rem;
    }

    @include mobile {
      margin: 1rem .5rem;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;

      &-item {
        margin-right: 1rem;
        margin-top: 1rem;

        &-proper {
          display: flex;
          flex-wrap: wrap;

          button {
            margin-right: 1rem;
            margin-top: 1rem;

            &:last-child {
              margin-right: 0;
            }
          }

        }

      }
    }

  }

  &-list {
    display: flex;
    align-items: center;
    flex-direction: column;

    &-paginate {
      padding: 1rem 0;
    }
  }
}

#proper-price {
  width: 35rem;

  @include mobile {
    width: 30rem;
  }
}

.filters-buttons {
  @include flex(center, center);

  button:first-child {
    margin-right: 2rem;
  }
}