@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/mixin';

.product-item {

  &:hover {
    img {
      transform: scale(1) translateY(-5px);
      transition: ease-in-out 500ms transform;
    }
  }

  .product-installment {
    padding-bottom: 1rem;
    span {
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 400;
      padding: 5px 6px;
    }
  }

  img {
    padding: 0 .5rem;
    transform: scale(0.95) translateY(0);
    padding-top: 1rem;
  }

  .product-title {
    padding-top: .5rem;
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-size {
    &-item {
      font-size: 12px;
      padding: 3px 5px;
      border-radius: 3px;
      background-color: $color-primary;
      color: $color-secondary;
      margin-right: 0.5rem;
    }
  }

  .product-price {
    @include flex(center, space-between);
    padding-top: .5rem;

    &-new {
      color: $color-red;
    }

    &-old {
      text-decoration: line-through;
      color: $color-primary;
    }
  }

  .product-rate {
    @include flex(center, space-between);
    &-count {
      font-size: 12px;
      color: $color-primary;
    }
  }

  .product-sold {
    font-size: 12px;
    color: $color-primary;
  }

}