@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/mixin';

.product-item {
  min-height: 28rem;

  @include mobile {
    min-height: 15rem;
  }

  &:hover {
    img {
      transform: scale(1) translateY(-5px);
      transition: ease-in-out 500ms transform;
    }
  }

  .product-installment {
    padding-bottom: 1rem;
    span {
      background-color: $color-secondary;
      color: $color-primary;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 400;
      padding: 5px 6px;
    }
  }

  &-img {
    @include flex(center, center);
    padding: 0 .5rem;
    transform: scale(0.95) translateY(0);
    padding-top: 1rem;
    padding-bottom: .5rem;
    min-height: 18rem;

    @include mobile {
      min-height: 10rem;
    }
  }

  .product-title {
    font-size: 16px;
    font-weight: 600;
    color: $color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include mobile {
      font-size: 14px;
    }
  }

  .product-size {
    @include mobile {
      display: none;
    }

    &-item {
      font-size: 12px;
      padding: 3px 5px;
      border-radius: 3px;
      background-color: $color-primary;
      color: $color-secondary;
      margin-right: 0.5rem;
    }
  }

  .product-price {
    @include flex(center, space-between);
    padding-top: .5rem;

    &-new {
      color: $color-red;

      @include mobile {
        font-size: 12px;
      }
    }

    &-old {
      text-decoration: line-through;
      color: $color-primary;

      @include mobile {
        display: none;
      }
    }
  }

  .product-rate {
    @include flex(center, space-between);

    nz-rate {
      @include mobile {
        display: none;
      }
    }

    &-count {
      font-size: 12px;
      color: $color-primary;

      &:hover {
        text-decoration: underline;
      }

      @include mobile {
        font-size: 11px;
        padding-top: .5rem;
      }
    }
  }

  .product-sold {
    font-size: 12px;
    color: $color-primary;

    &:hover {
      text-decoration: underline;
    }

    @include mobile {
      font-size: 11px;
    }
  }

}

::ng-deep nz-ribbon {
  .ant-ribbon {
    span {
      @include mobile {
        font-size: 11px;
      }
    }
  }
}