
<nz-ribbon [nzText]="'common.label.installment' | translate" nzColor="green" nzPlacement="start">
  <nz-ribbon [nzText]="'common.label.discount' | translate : {percent: product.discountPercent}" nzColor="red" nzPlacement="end">
    <nz-card nzHoverable>
      <div class="product-item">
        <div class="product-item-img">
          <img [src]="product.urlPicture" alt="product-logo">
        </div>
        <p nz-tooltip [nzTooltipTitle]="product.title" class="product-title">{{product.title}}</p>
        <div class="product-size">
          <span 
            *ngFor="let size of product.sizes"
            class="product-size-item"
          >{{size.size}}
          </span>
        </div>
        <div class="product-price">
          <p class="product-price-new">{{product.currentPrice | currency}}</p>
          <p class="product-price-old">{{product.price | currency}}</p>
        </div>
        <div class="product-rate">
          <nz-rate [ngModel]="product.ratingAverage" nzAllowHalf nzDisabled [nzCount]="5"></nz-rate>
          <span class="product-rate-count">{{product.ratingQuantity}} {{'common.label.review' | translate}}{{currentLanguage == 'en' && product.ratingQuantity > 1 ? 's': ''}}</span>
        </div>
        <span class="product-sold">{{'common.label.sold' | translate}} {{product.sold}}</span>
      </div>
    </nz-card>
  </nz-ribbon>
</nz-ribbon>


