$main-bg: #fff;
$main-color: #323073;
$extra-color: #FED303;

$color-white: #fff;
$color-black: #000;
$color-red: red;
$color-orange: #FC521D;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 80px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 70px;

$box-shadow: rgba(47, 49, 51, 0.2) 0px 8px 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
