$color-primary: #4A55A2;
$color-secondary: #C5DFF8;
$color-third: #7895CB;

$color-white: #fff;

[data-theme="dark"] {
  $color-primary: #4A55A2;
  $color-secondary: #C5DFF8;
  $color-third: #7895CB;
  
  $color-white: #fff;
}

$mobile-width: 600px;
$tablet-width: 1024px;

$header-height: 70px;
$logo-height: 60px;