@import '../../../assets/scss/variable';
@import '../../../assets/scss/mixin';

.home {
  background-color: rgba($color: $color-secondary, $alpha: 0.2);
}

.carousel {
  .carousel-content {
    text-align: center;
    background: $color-primary;
    color: $color-white;
    overflow: hidden;
    height: 500px;

    img {
      height: 500px;
    }
  }

  ::ng-deep nz-carousel {
    ul li.slick-active {
      button {
        background: $color-primary;
      }
    }
  }

  ::ng-deep nz-carousel {
    ul li {
      button {
        background: $color-primary;
      }
    }
  }
}

.news {
  @include flex(center, space-between);
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: $color-white;

  img {
    cursor: pointer;
    width: 30%;

    &:hover {
      border-radius: 10px;
      box-shadow: $box-shadow;
    }
  }
}

app-section {
  
}