@import '../../../assets/scss/variable';
@import '../../../assets/scss/mixin';

.home {
  .carousel {
    nz-carousel {
      height: 32vw;
      line-height: 32vw;

      @include mobile {
        height: 34vw;
        line-height: 34vw;
      }
    }
  
    ::ng-deep nz-carousel {
      ul li.slick-active {
        button {
          background: $color-primary;
        }
      }
    }
  
    ::ng-deep nz-carousel {
      ul li {
        button {
          background: $color-primary;
        }
      }
    }
  }
  
  .news {
    @include flex(center, space-between);
    max-width: 1200px;
    margin: 3rem auto;
    background-color: $color-white;

    @include mobile {
      display: none;
      margin: 1.5rem auto;
    }
    
    nz-card {
      width: 30%;

      img {
        width: 100%;
      }
    }
  }
}
