<div class="home">
  <div class="carousel">
    <nz-carousel nzAutoPlay [nzEnableSwipe]="false">
      <div class="carousel-content" nz-carousel-content *ngFor="let item of arrayCarousel">
        <img [src]="item.urlPicture" alt="">
      </div>
    </nz-carousel>
  </div>
  <div class="news">
    <nz-card nzHoverable [nzBodyStyle]="{padding: 0}" [nzBorderless]="true">
      <img src="../../../assets/images/home/news/new-1.png" alt="">
    </nz-card>
    <nz-card nzHoverable [nzBodyStyle]="{padding: 0}" [nzBorderless]="true">
      <img src="../../../assets/images/home/news/new-2.png" alt="">
    </nz-card>
    <nz-card nzHoverable [nzBodyStyle]="{padding: 0}" [nzBorderless]="true">
      <img src="../../../assets/images/home/news/new-3.png" alt="">
    </nz-card>
  </div>
  <app-section
    [title]="'home.topSold' | translate" 
    [products]="topProduct"
    buttonTitle="products"  
  >
  </app-section>
  <app-section *ngFor="let category of categories"
    [titleBG]="category.urlPicture"
    [products]="category.products"
    [buttonTitle]="category.sortCode"
  >
  </app-section>
</div>
