@import '../../../assets/scss/mixin';
@import '../../../assets/scss/variable';

.header {
  @include flex(center, space-between);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  .header-main {
    @include flex(center, center);

    .logo {
      @include flex(center, center);
      cursor: pointer;
  
      img {
        height: $logo-height;
  
        @include mobile {
          height: $logo-height-xs;
        }
      }
    }

    &-menu {
      display: none;
      font-size: 30px;
      color: $color-secondary;
      padding: 0 1rem 0 2rem;
      cursor: pointer;

      @include tablet {
        display: block;
      }
    }
  }

  .category {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;

    @include tablet {
      display: none;
    }

    .category-item {
      display: flex;
      align-items: center;
      color: $color-secondary;
      font-size: 16px;
      padding: 0 1.5rem;
      cursor: pointer;
      height: 100%;

      &:hover {
        color: $color-secondary;
        background-color: rgba($color: $color-secondary, $alpha: 0.2);
      }

      &.active {
        color: $color-secondary;
        background-color: rgba($color: $color-secondary, $alpha: 0.2);
      }

    }
  }

  .header-info {
    @include flex(center, space-around);

    @include tablet {
      margin-right: 2rem;
    }

    .header-search {
      span {
        cursor: pointer;
        color: $color-secondary;
        font-size: 30px;
      }
    }

    .header-cart {
      padding-left: 1rem;

      nz-badge {
        cursor: pointer;
      }
      
      &-icon {
        color: $color-secondary;
        font-size: 30px;
      }

    }

    .header-user {
      padding-left: 2rem;
      cursor: pointer;

      nz-avatar {
        background-color: $color-secondary;
      }

    }

    .header-language {
      padding-left: 1rem;

      @include mobile {
        display: none;
      }

      img {
        height:2rem;
        object-fit: contain;
        cursor: pointer;
        padding-left: 1rem;
      }
    }
  }

}

.header-cart-list {
  &-item {
    &-product {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
      }
  
      &-description {
        &-title {
          color: $color-primary;
          padding-left: 1rem;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline;
          }
        }
  
        &-list {
          display: flex;
          flex-direction: row;
          padding-left: 1rem;
  
          &-item {
            padding-right: 1rem;
  
            span {
              font-size: 12px;
            }
          }
        }
  
      }
    }

    &-quantity {
      padding-left: 2rem;
      color: $color-primary;
    }
  }

  &-button {
    text-align: center;
    margin-top: 1rem;
  }
}

.drawer-header {
  width: 100%;
  @include flex(center, center);

  img {
    width: 10rem;
  }
}

.header-user-list {
  &-item {
    cursor: pointer;
    padding-bottom: .5rem;
    
    &:hover {
      color: $color-primary;
    }
  }
}

.header-search-modal {
  background-color: 'black';

  &-input {
    height: $header-height;
    padding: 1.5rem;
  }

  .header-search-icon:hover {
    cursor: pointer;
    color: $color-primary;
    scale: 1.3;
  }

  &-result {
    padding: 0 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);

    &-title {
      color: $color-secondary;
      font-size: 15px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
      }
  
      &-description {
        &-title {
          color: white;
          padding-left: 1.5rem;
          cursor: pointer;
          font-size: 15px;
  
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}