<div class="header">
  <div class="header-main">
    <div class="logo">
      <img 
        (click)="goHome()"
        src="../../../assets/images/header/yolo-logo.png" alt="logo-yolo-shop">
    </div>
  </div>
  <div class="category">
    <ng-container *ngFor="let category of categoryList">
      <span class="category-item"
        [ngClass]="{'active' : currentCategory == category}"
        (click)="navigateCatalog(category)">
        {{'header.category.' + category | translate}}
      </span>
    </ng-container>
    <span nz-dropdown [nzDropdownMenu]="menu" class="category-item">
      {{'header.category.service' | translate}} &nbsp;
      <span nz-icon nzType="down"></span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item>{{'header.category.second.installment' | translate}}</li>
          <li nz-menu-item>{{'header.category.second.reNewed' | translate}}</li>
          <li nz-menu-item>{{'header.category.second.guarantee' | translate}}</li>
        </ul>
      </nz-dropdown-menu>
    </span>
    <span class="category-item">
      {{'header.category.new' | translate}}
    </span>
  </div>
  <div class="header-info">
    <div class="header-search">
      <span (click)="showModalSearch()" nz-icon nzType="search" nzTheme="outline"></span>
      <nz-modal
      [nzStyle]="{ top: '20px' }"
      [(nzVisible)]="isSearch"
      [nzWidth]="1200"
      nzTitle="Bạn muốn tìm gì?"
      (nzOnCancel)="cancelSearch()"
    >
      <ng-container *nzModalContent>
        <p>some contents...</p>
        <p>some contents...</p>
        <p>some contents...</p>
      </ng-container>
    </nz-modal>
    </div>
    <div class="header-cart">
      <div>
        <nz-badge [nzCount]="currentOrder" nz-popover nzPopoverTitle="Title" [nzPopoverContent]="contentTemplate"
          nzPopoverTrigger="hover">
          <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
        </nz-badge>
      </div>
      <ng-template #contentTemplate>
        <div>
          <p >{{'header.main.login' | translate}}</p>
          <p>{{'header.main.logout' | translate}}</p>
        </div>
      </ng-template>
    </div>
    <div class="header-user">
      <nz-avatar 
        nz-popover nzPopoverPlacement="bottom" nzPopoverTitle="Tài khoản" 
        [nzPopoverContent]="contentAvatar" nzPopoverTrigger="hover"
        nzIcon="user" [nzSrc]="isLogin ? userInfo.photo : ''">
      </nz-avatar>
    </div>
    <ng-template #contentAvatar>
      <div>
        <ng-container *ngIf="!isLogin; else logedIn">
          <p (click)="gotoLogin()">{{'header.main.login' | translate}}</p>
          <p (click)="gotoRegister()">{{'header.main.register' | translate}}</p>
        </ng-container>
        <ng-template #logedIn>
          <p (click)="logout()">{{'header.main.logout' | translate}}</p>
        </ng-template>
      </div>
    </ng-template>
    <div class="header-language">
      <img
        nz-tooltip nzTooltipPlacement="bottom"
        nzTooltipTitle="{{'header.main.vn' | translate}}"
        (click)="changeLanguage('vn')"
        src="../../../assets/images/header/vietnam.webp" alt="vietnam-flag">
      <img
        nz-tooltip nzTooltipPlacement="bottom"
        nzTooltipTitle="{{'header.main.en' | translate}}"
        (click)="changeLanguage('en')"
        src="../../../assets/images/header/usa.png" alt="usa-flag">
    </div>
  </div>
</div>