@import '../../../../assets/scss/index.scss';

.check-out {
  max-width: 1200px;
  margin: auto;
  padding-top: 1rem;

  &-info {
    padding-top: 1rem;
    &-item {
      padding-bottom: 16px;
    }

    &-buttons {
      @include flex(center, space-between);
    }
  }

  &-product {
    padding-top: 1rem;
    &-list {
      &-item {
        &-product {
          display: flex;
          flex-direction: row;

          &-img {
            width: 4rem;
            height: 4rem;
          }

          &-description {
            padding-left: 1.5rem;

            &-title {

            }

            &-list {
              display: flex;
              flex-direction: row;

              &-item {
                padding-right: 1rem;
              }
            }
          }
        }

        &-input {
          margin-right: 1rem;
        }

        &-total {
          width: 100%;

          &-item {
            @include flex(center, space-between);
            width: 100%;
            padding-bottom: .5rem;

            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.payment-extra {
  display: flex;
  flex-direction: row;

  img {
    width: 3.5rem;
    object-fit: contain;
    padding-left: 1rem;
  }
}

.payment-logo {
  width: 1.5rem;
  object-fit: contain;
}