@import '../assets/scss/variable';
@import '../assets/scss/mixin';

nz-header {
  position: fixed;
  width: 100%;
  height: $header-height;
  z-index: 1000;
  padding: 0;
}

nz-content {
  background-color: $color-white;
  margin-top: $header-height;
}