<div class="catalog">
  <div class="catalog-item" nz-row [nzGutter]="24">
    <div class="catalog-item-pictures" nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 16 }" [nzXl]="{ span: 16 }">
      <div class="catalog-item-pictures-img" nz-row>
        <div class="catalog-item-pictures-img-second" nz-col [nzXs]="{ span: 0 }" [nzSm]="{ span: 0 }" [nzMd]="{ span: 4 }" [nzLg]="{ span: 4 }" [nzXl]="{ span: 4 }">
          <div class="catalog-item-pictures-img-second-item"
            *ngFor="let url of currentColor.urlPicture | slice : 0 : 4; index as index"
          >
            <img [src]="url" alt="product-img"
              (click)="onChoosePicture(index)"
            >
          </div>
        </div>
        <div class="catalog-item-pictures-img-main" nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 20 }" [nzLg]="{ span: 20 }" [nzXl]="{ span: 20 }">
          <img [src]="currentColor.urlPicture[currentPicture]" alt="product-img">
        </div>
      </div>
      <div nz-row>
        <div class="catalog-item-pictures-slide" nz-col [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 24, offset: 0 }" [nzMd]="{ span: 20, offset: 4 }" [nzLg]="{ span: 20, offset: 4 }" [nzXl]="{ span: 20, offset: 4 }">
          <div class="catalog-item-pictures-slide-colors"
            *ngFor="let color of product.colors; index as index"
            (click)="onOpenProductModal(index)"
          >
            <img [src]="color.urlPicture[0]" alt="product-img">
            <span class="catalog-item-pictures-slide-colors-title">{{'common.label.color.' + color.color | translate}}</span>
          </div>
          <div class="catalog-item-pictures-slide-item"
          (click)="onOpenProductModal(product.colors.length)">
            <div class="catalog-item-pictures-slide-item-icon">
              <span nz-icon nzType="dropbox" nzTheme="outline"></span>
            </div>
            <span class="catalog-item-pictures-slide-item-title">{{'product.openBox' | translate}}</span>
          </div>
          <div class="catalog-item-pictures-slide-item"
            (click)="onOpenProductModal(product.colors.length + 1)">
            <div class="catalog-item-pictures-slide-item-icon">
              <span nz-icon nzType="control" nzTheme="outline"></span>
            </div>
            <span class="catalog-item-pictures-slide-item-title">{{'product.specification' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-item-feature" nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 8 }" [nzXl]="{ span: 8 }">
      <div class="catalog-item-feature-title">
        <span>{{product.title}}</span>
      </div>
      <div class="catalog-item-feature-numbers">
        <div class="catalog-item-feature-numbers-rate">
          <nz-rate [ngModel]="product.ratingAverage" nzAllowHalf nzDisabled [nzCount]="5"></nz-rate>
          <span class="catalog-item-feature-numbers-rate-count"
          >{{product.ratingQuantity}} {{'common.label.review' | translate}}{{currentLanguage == 'en' && product.ratingQuantity > 1 ? 's': ''}}</span>
        </div>
        <span class="catalog-item-feature-numbers-sold">{{'common.label.sold' | translate}} {{product.sold}}</span>
      </div>
      <div class="catalog-item-feature-price">
        <p class="catalog-item-feature-price-new">{{currentPrice | currency}}</p>
        <p class="catalog-item-feature-price-old">
          {{product.price + product.sizes[currentSize].price + product.colors[currentColorIndex].price | currency}}
        </p>
      </div>
      <div class="catalog-item-feature-item">
        <span class="catalog-item-feature-item-title">{{'common.label.storageCapacity' | translate}}</span>
        <div class="catalog-item-feature-item-buttons">
          <button *ngFor="let item of product.sizes; index as index" nz-button
          [nzType]="index === currentSize ? 'primary' : 'default'" 
          (click)="onChooseSize(index)">
          {{item.size}}
        </button>
        </div>
      </div>
      <div class="catalog-item-feature-item">
        <span class="catalog-item-feature-item-title">{{'common.label.colors' | translate}}: 
          <span>{{'common.label.color.' + product.colors[currentColorIndex].color | translate}}</span>
        </span>
        <div class="catalog-item-feature-item-buttons">
          <div class="catalog-item-feature-item-buttons-item"
            *ngFor="let item of product.colors; index as index"
            (click)="onChooseColor(index)"
            [ngClass]="{'active': index === currentColorIndex}"
            [ngStyle]="{backgroundColor: item.color}"
            >
          </div>
        </div>
      </div>
      <div class="catalog-item-feature-promote">
        <div class="catalog-item-feature-promote-header">
          <div class="catalog-item-feature-promote-header-title">
            <span 
              class="catalog-item-feature-promote-header-title-icon"
              nz-icon nzType="gift" nzTheme="fill"></span>
            <span>{{'product.promote' | translate}}</span>
          </div>
          <div class="catalog-item-feature-promote-header-body">
            <span>{{'product.promotetitle' | translate}}</span>
          </div>
        </div>
        <div class="catalog-item-feature-promote-body">
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote1' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote2' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote3' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="catalog-item-feature-button">
        <button nz-button nzType="primary" nzBlock
          (click)="onBuyNow()"
        >
          {{'common.label.buyNow' | translate}}

        </button>
        <button nz-button nzType="default" nzBlock
          (click)="onGoToCart()"
        >
          {{'product.viewCart' | translate}}

        </button>
      </div>
    </div>
    <div nz-col [nzXs]="{ span: 24 }" [nzSm]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 16 }" [nzXl]="{ span: 16 }">
      <nz-divider nzPlain [nzText]="'product.comment' | translate" nzOrientation="left"></nz-divider>
      <div class="catalog-item-comments">
        <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
          <ng-template #item let-item>
            <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.datetime">
              <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
              <nz-comment-content>
                <p>{{ item.content }}</p>
              </nz-comment-content>
              <nz-comment-action>
                <span nz-tooltip nzTitle="Like" nz-icon nzType="like"
                  [nzTheme]="item.likes > 0 ? 'twotone' : 'outline'"></span>
                <span class="count like">{{ item.likes }}</span>
              </nz-comment-action>
              <nz-comment-action>
                <span nz-tooltip nzTitle="Dislike" nz-icon nzType="dislike"
                  [nzTheme]="item.dislikes > 0 ? 'twotone' : 'outline'"></span>
                <span class="count dislike">{{ item.dislikes }}</span>
              </nz-comment-action>
              <nz-comment-action>{{'product.replyTo' | translate}}</nz-comment-action>
            </nz-comment>
          </ng-template>
        </nz-list>
        <nz-comment>
          <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="userInfo.photo"></nz-avatar>
          <nz-comment-content>
            <nz-form-item>
              <textarea nz-input rows="4"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary">
                {{'product.addComment' | translate}}
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </div>
    </div>
  </div>
  <nz-divider nzPlain [nzText]="'product.relatedProduct' | translate" nzOrientation="center"></nz-divider>
  <app-section 
      [products]="listRelatedProduct" 
      buttonTitle="products"
      [isCatalog]="true"
    >
    </app-section>
</div>

