<div class="catalog">
  <div class="calatog-item" nz-row [nzGutter]="[{ xs: 4, sm: 8, md: 16, lg: 24 }, { xs: 4, sm: 8, md: 16, lg: 24 }]">
    <div class="catalog-item-pictures" nz-col nzSpan="16">
      <div class="catalog-item-pictures-img" nz-row>
        <div class="catalog-item-pictures-img-second" nz-col nzSpan="4">
          <div class="catalog-item-pictures-img-second-item"
            *ngFor="let url of currentColor.urlPicture | slice : 0 : 4; index as index"
          >
            <img [src]="url" alt="product-img"
              (click)="onChoosePicture(index)"
            >
          </div>
        </div>
        <div class="catalog-item-pictures-img-main" nz-col nzSpan="20">
          <img [src]="currentColor.urlPicture[currentPicture]" alt="product-img">
        </div>
      </div>
      <div nz-row>
        <div class="catalog-item-pictures-slide" nz-col nzSpan="20" nzOffset="4">
          <div class="catalog-item-pictures-slide-colors"
            *ngFor="let color of product.colors; index as index"
            (click)="onOpenProductModel(index)"
          >
            <img [src]="color.urlPicture[0]" alt="product-img">
            <span class="catalog-item-pictures-slide-colors-title">{{'common.label.color.' + color.color | translate}}</span>
          </div>
          <div class="catalog-item-pictures-slide-item"
          (click)="onOpenProductModel(product.colors.length + 1)">
            <div class="catalog-item-pictures-slide-item-icon">
              <span nz-icon nzType="dropbox" nzTheme="outline"></span>
            </div>
            <span class="catalog-item-pictures-slide-item-title">{{'product.openBox' | translate}}</span>
          </div>
          <div class="catalog-item-pictures-slide-item"
            (click)="onOpenProductModel(product.colors.length + 2)">
            <div class="catalog-item-pictures-slide-item-icon">
              <span nz-icon nzType="control" nzTheme="outline"></span>
            </div>
            <span class="catalog-item-pictures-slide-item-title">{{'product.specification' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog-item-feature" nz-col nzSpan="8">
      <div class="catalog-item-feature-title">
        <span>{{product.title}}</span>
      </div>
      <div class="catalog-item-feature-numbers">
        <div class="catalog-item-feature-numbers-rate">
          <nz-rate [ngModel]="product.ratingAverage" nzAllowHalf nzDisabled [nzCount]="5"></nz-rate>
          <span class="catalog-item-feature-numbers-rate-count"
          >{{product.ratingQuantity}} {{'common.label.review' | translate}}{{currentLanguage == 'en' && product.ratingQuantity > 1 ? 's': ''}}</span>
        </div>
        <span class="catalog-item-feature-numbers-sold">{{'common.label.sold' | translate}} {{product.sold}}</span>
      </div>
      <div class="catalog-item-feature-price">
        <p class="catalog-item-feature-price-new">{{currentPrice | currency}}</p>
        <p class="catalog-item-feature-price-old">
          {{product.price + product.sizes[currentSize].price + product.colors[currentColorIndex].price | currency}}
        </p>
      </div>
      <div class="catalog-item-feature-item">
        <span class="catalog-item-feature-item-title">{{'common.label.storageCapacity' | translate}}</span>
        <div class="catalog-item-feature-item-buttons">
          <button *ngFor="let item of product.sizes; index as index" nz-button
          [nzType]="index === currentSize ? 'primary' : 'default'" 
          (click)="onChooseSize(index)">
          {{item.size}}
        </button>
        </div>
      </div>
      <div class="catalog-item-feature-item">
        <span class="catalog-item-feature-item-title">{{'common.label.colors' | translate}}: 
          <span>{{'common.label.color.' + product.colors[currentColorIndex].color | translate}}</span>
        </span>
        <div class="catalog-item-feature-item-buttons">
          <div class="catalog-item-feature-item-buttons-item"
            *ngFor="let item of product.colors; index as index"
            (click)="onChooseColor(index)"
            [ngClass]="{'active': index === currentColorIndex}"
            [ngStyle]="{backgroundColor: item.color}"
            >
          </div>
        </div>
      </div>
      <div class="catalog-item-feature-promote">
        <div class="catalog-item-feature-promote-header">
          <div class="catalog-item-feature-promote-header-title">
            <span 
              class="catalog-item-feature-promote-header-title-icon"
              nz-icon nzType="gift" nzTheme="fill"></span>
            <span>{{'product.promote' | translate}}</span>
          </div>
          <div class="catalog-item-feature-promote-header-body">
            <span>{{'product.promotetitle' | translate}}</span>
          </div>
        </div>
        <div class="catalog-item-feature-promote-body">
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote1' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote2' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
          <div class="catalog-item-feature-promote-body-item">
            <span 
              class="catalog-item-feature-promote-body-item-icon"
              nz-icon nzType="check-circle" nzTheme="fill"></span>
            <span>{{'product.promote3' | translate}}
              <span>{{'product.seeDetail' | translate}}</span>
            </span>
          </div>
        </div>
      </div>
      <div class="catalog-item-feature-button">
        <button nz-button nzType="primary" nzBlock>{{'common.label.buyNow' | translate}}</button>
      </div>
    </div>
  </div>
</div>
