@import '../../../assets/scss/mixin';
@import '../../../assets/scss/variables';

.policy-card {
  @include flex(center, flex-start);
  padding: 15px;
  padding-left: 0;
  border-radius: 10px;
  box-shadow: $box-shadow;
  transition: transform 0.5s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-10px);
  }

  &-icon {
      @include flex(center, center);
      width: 40%;
      color: $main-color;

      i {
          font-size: 2.5rem;
      }
  }

  &-info {
      &-name {
          font-size: 1rem;
          font-weight: 600;
      }

      &-description {
          font-size: 0.8rem;
          color: $color-black;
      }
  }
}
