<div class="cart" nz-row>
  <app-breadcrumb [breadCrumb]="breadcrumb"></app-breadcrumb>
  <div class="cart-product" nz-col nzSpan="24">
    <nz-table #basicTable 
      [nzData]="cartList" class="cart-product-list"
      [nzShowPagination]="false"
      [nzBordered]="true"
      [nzFooter]="footerTable"
    >
      <thead>
        <tr>
          <th
            [(nzChecked)]="allChecked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>{{'cart.product' | translate}}</th>
          <th [nzAlign]="'center'">{{'cart.price' | translate}}</th>
          <th [nzAlign]="'center'">{{'cart.quantity' | translate}}</th>
          <th [nzAlign]="'center'">{{'cart.total' | translate}}</th>
          <th [nzAlign]="'center'">{{'cart.action' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data; index as i">
          <td [nzChecked]="setOfCheckedId.has(item._id)" 
            (nzCheckedChange)="onItemChecked(item._id, $event, i)"></td>
          <td class="cart-product-list-item">
            <div class="cart-product-list-item-main">
              <img [src]="item.product.urlPicture" alt="product-img">
              <div class="cart-product-list-item-main-description">
                <span class="cart-product-list-item-main-description-title"
                (click)="goToProduct(i)">
                  {{item.product.title}}
                </span>
                <div class="cart-product-list-item-main-description-list">
                  <div class="cart-product-list-item-main-description-list-item">
                    <span>{{'cart.color' | translate}}: 
                      <strong>{{'common.label.color.' + item.color | translate}}</strong>
                    </span>
                  </div>
                  <div class="cart-product-list-item-main-description-list-item">
                    <span>{{'cart.size' | translate}}: 
                      <strong>{{item.size}}</strong></span>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td [nzAlign]="'center'" 
            class="cart-product-list-item">{{ item.product.price }}</td>
          <td [nzAlign]="'center'"
            class="cart-product-list-item">
            <nz-input-number 
              [ngModel]="item.quantity"
              (ngModelChange)="onChangeQuantity($event, i)"
              [nzMin]="1" 
              [nzMax]="10" [nzStep]="1">
            </nz-input-number>
          </td>
          <td [nzAlign]="'center'"
            class="cart-product-list-item">
            {{ item.product.price * item.quantity }}
          </td>
          <td [nzAlign]="'center'"
            class="cart-product-list-item">
            <button nz-button nzType="primary" nzDanger
              (click)="onDeleteCart(i)"  
            >
              <span nz-icon nzType="delete" nzTheme="fill"></span>
              {{'cart.delete' | translate}}
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td [colSpan]="3">
          </td>
          <td [nzAlign]="'center'">
            {{'cart.total' | translate}}:
          </td>
          <td [nzAlign]="'center'">
            {{total}}
          </td>
          <td [nzAlign]="'center'">
            {{'cart.chose' | translate: { size: setOfCheckedId.size } }}
          </td>
        </tr>
      </tfoot>
      <ng-template #footerTable>
        <div class="footer-table">
          <button nz-button nzType="primary"
            [disabled]="setOfCheckedId.size == 0"
            (click)="checkOut()">
            {{'cart.checkOut' | translate: { size: setOfCheckedId.size } }}
          </button>
        </div>
        </ng-template>
    </nz-table>
  </div>
</div>
